@font-face {
    font-family: PT SERIF ;
    src: url(fonts/PTZ55F.ttf
    );
    
    font-family: Poppins;
    src: url(fonts/Poppins-SemiBold.otf);
  }
.container-md{
    margin:0px !important;
    padding-left: 240px !important;
    padding-top: 110px !important;
    border: 1px solid rebeccapurple;
}
header{
    margin-bottom: 96px;
}
h1{
    font-family: serif;
    font-size: 36px;
    font-weight: 700;
}

h2{
    font-family: serif;
    font-size: 18px;
    font-weight: 600;
}

p{
    font-weight: 400;
    font-size: 18px;
}
.grp{
    position: relative;
}

img{
    width: 238px;
    height: 426.5px;
    max-width: 100%;
}
.grp h4{
    font-family: PT SERIF;
 position: absolute;
 top: 50px;  
 right: 50px;
 transform: rotate(90deg); 
 width: 113px;
 height: 16px;
 font-size: 12px;
 text-transform: uppercase;
 line-height: 16px;

}
.grp h3{
    font-style: Poppins;
font-weight: 600;
font-size: 18px;
line-height: 27px;

}

.grp:nth-child(2) ,.grp:nth-child(5) {
    position: relative;
    top: 50px;
  }

  /* Selects the second li element in a list */
  .grp:nth-child(1) ,.grp:nth-child(2),.grp:nth-child(3) {
    margin-bottom: 66px;
  }

  footer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-align: center;
    
    color: #A9A9A9;
  }

  section{
      margin-bottom: 114px;

  }



  @media screen and (max-width: 576px) {
    .container{
        margin-left: 12px !important;
        margin-top: 71px !important;
        padding: 0% !important;
        
    }
    header{
        margin-bottom: 1px;
        
    }
    header .row{
        display: flex;
        flex-direction: row-reverse;
    }
    
    p{
        font-size: 14px;
        line-height: 21px;
    }
    .grp{
        position: relative;
    }
    
    img{
        width: 138.72px;
        height: 261.4px;
        max-width: 100%;
    }
    .grp h4{
       
     font-size: 10px;
     line-height: 13px;
    
    }
    .grp h3{
        font-style: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    }
    
    /* Selects the second li element in a list */
    .grp:nth-child(2) {
        position: relative;
        top: 50px;
      }
    
      /* Selects the second li element in a list */
    .row:nth-child(2) {
        margin-top: 66px;
      }
    
      
    
      section{
          margin-bottom: 114px;
    
      }
    
  }